<!-- first section -->
<div class="first-section">
<!-- navbar section -->
<nav class="navbar navbar-expand-lg navbar-light background ">
  <a class="navbar-brand" href="#">FIRST TASKFORFRESHERS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"></div>
  <div class="collapse navbar-collapse"></div>
  <div class="collapse navbar-collapse"></div>
  <div class="collapse navbar-collapse"></div>
  <div class="collapse navbar-collapse"></div>
  <div class="collapse navbar-collapse"></div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Generic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Elements</a>
      </li>

    </ul>
  </div>
</nav>
<!-- navbar section -->

<!-- first section -->

<div class="paraheading d-flex justify-content-center">
  <h1>LORVENT</h1>
</div>
<div class="paraone d-flex justify-content-center">
  <span>UTILISING GOOGLE FONT 'RALEWAY'</span>
</div>
<div class="paratwo d-flex justify-content-center">
  <span>AND FONT AWESOME ICONS WHERE NEEDED</span>
</div>
<div class="parabutton d-flex justify-content-center">
  <a href="#" class="startbutton">GET STARTED</a>
</div>

</div>
<!-- first section ends-->
<div class="bottomline">

</div>

<!-- second section -->

<div class="second-section">
<div class="container-fluid">
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
  <div class="section-1 text-center">
    <h4 class="parahead " >MAECENAS</h4>
    <h2 class="paraheadtwo">LUCTUS LECTUS</h2>
    <div class="paratext">
      <span class="paraone">PERSPICIATIS DOLOREMQUE</span><br/>
      <span  class="paratwo">RECUSANDAE DOLOR</span>
    </div>
  </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="section-2 ">
      <p class="largepara">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p class="largeparatwo">
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
      </p>
    </div>
  </div>
</div>
</div>

</div>
<!-- second section ends-->

<!-- third section -->

<div class="thitd-section">
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <h1 class="midsection">FUSCE ULTRICES FRINGILLA</h1>

  </div>
  <div class="d-flex justify-content-center">
    <p class="midtext">MAECENAS VITAE TELLUS FEUGIAT ELEIEFND</p>
  </div>
<div class="card-section">
<div class="d-flex flex-row flex-wrap justify-content-center">
  <div class="card">
  <img class="img-fluid occianimg" src='assets/ocean.jpg'>
  <div class="card-body text-center">
   <p class="cardtxt">LOREM IPSUM DOLOR SIT AMET</p>
  </div>
  </div>
  <div class="card">
 <img class="img-fluid forestimg" src="assets/forrst.png">
 <div class="card-body text-center">
   <p class="cardtxt">ILLUM,MAIROES TEMPORA CUPID?</p>
 </div>
  </div>
</div>
</div>
<div class="rowbuttons">
  <div class="d-flex flex-row justify-content-center">
    <a href="#" class="rowbtnone">NULLALUCTUS</a>
    <a href="#" class="rowbtntwo">SED VULPUTATE</a>
  </div>
</div>
</div>
</div>
<!-- third section ends -->

<!-- fourth section -->
<div class="fourth-section">

  <div class="container-fluid">

    <div class="d-flex justify-content-center">
      <div class="d-flex flex-row">
        <h1 class="fourthhead">MAURIS VULPUTATE DOLOR</h1>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-row">
        <p class="fourthtxt">FEUGIAT SED LOREM IPSUM MAGNA</p>
      </div>
    </div>

    </div>


    <div class="roundcards">

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-sm-10">
              <div class="d-flex flex-column">
                <div class="fourthcontent text-right">
                  <span class="roundshead">LOREM IPSUM</span>
                  <p class="roundtxt">LOREM IPSUM DOLOR SIT</p>
                  <P class="roundpara">
                    Lorem ipsum dolor sit amet, consectetur adipiscing
                     elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   </P>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <img class="img-fluid rounded-circle roundsimg" src="assets/mountain.jpg">
            </div>
          </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <img class="img-fluid rounded-circle roundsimg" src="assets/road.jpg">
              </div>
              <div class="col-sm-10">
                <div class="d-flex flex-column">
                  <div class="fourthcontent text-left">
                    <span class="roundshead">RECUSANDAE NEMO</span>
                    <p class="roundtxt">RATIONE MAIORES A, COMMODI</p>
                    <P class="roundpara">
                      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                      as opposed to using 'Content here, content here', making it look like readable English.
                     </P>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>



    <div class="roundcards">

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-sm-10">
              <div class="d-flex flex-column">
                <div class="fourthcontent text-right">
                  <span class="roundshead">LAUDANTIUM FUGIT</span>
                  <p class="roundtxt">POSSIMUS EX REPREHENDERIT EAQUE</p>
                  <P class="roundpara">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                    corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                    officia deserunt mollitia animi.
                   </P>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <img class="img-fluid rounded-circle roundsimg" src="assets/curverod.jpg">
            </div>
          </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="row">
              <div class="col-sm-2">
                <img class="img-fluid rounded-circle roundsimg" src="assets/forsthouse.jpg">
              </div>
              <div class="col-sm-10">
                <div class="d-flex flex-column">
                  <div class="fourthcontent text-left">
                    <span class="roundshead">PORRO ALIQUAM</span>
                    <p class="roundtxt">QUAERAT, EXCEPTURI EVENIET LABORIOSAM</p>
                    <P class="roundpara">
                      Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat,
                      omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam
                      rerum necessitatibus saepe eveniet.
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>




</div>



<!-- fourth section ends -->


<!-- fifth section -->

<div class="fifth-section">

  <div class="lowersection">
    <div class="d-flex justify-content-center">
      <h1 class="lowerhead">AENEAN ELEMENTUM LIGULA</h1>
    </div>
    <div class="d-flex justify-content-center">
      <p class="lowertxt">FEUGIAT SED LOREM IPSUM MAGNA</p>
    </div>
    <div class="d-flex justify-content-center">
      <a href="#" class="lowerbtn">GET IN TOUCH</a>
    </div>
  </div>





</div>

<!-- fifth section ends -->

<!-- footer section -->
<footer>
  <div class="iconssection">
    <div class="d-flex justify-content-center">
      <div class="column">
        <i class="fab fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fab fa-twitter"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fab fa-instagram"></i>&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
          <div class="footertxt">
           <div class="d-flex justify-content-center">
            <div class="d-flex flex-row">
             <p class="footline">&copy; united</p>&nbsp;&nbsp;
             <p class="footline">Font Raleway</p>&nbsp;&nbsp;
             <p class="footline">Images Unsplansh</p>
            </div>
            </div>
            </div>





</footer>


<!-- footer section ends -->


